<!DOCTYPE html>
<html>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="mainstyles.css" >

   <head>
      <title>Item Finder</title>
   </head>

   <body>
      <form >
         Item Name: <input type="text" name="item" placeholder="Add new item..." required />
      <button id="sub" type="submit">Click Me!</button>
      </form>
      <ul>
        <% var empty = true %>
        <% if(myStores !== null){ %>
          <% for(var i=0; i < myStores.length; i++){ %>
            <% if(myStores[i].name !== null){ %>
              <% empty = false %>
              <p><%= myStores[i].storeName %></p>
              <% for(var j=0; j < myStores[i].name.length; j++){ %>
                <li><%= myStores[i].name[j] %><br/>Price: $<%= myStores[i].price[j] %></li>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
        <% if(empty && myStores !== null){ %>
          <p> No Results Found </p>
        <% } %>
      </u1>
   </body>
</html>
